*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    /* align-items:; */
    justify-content: flex-end  ;
    /* text-align: ; */
    padding:0px 0px 10px 0px;
    height: 500px;
    align-items: flex-start;
    /* padding: 50%; */
    flex-direction: column;
    background-image: url('/assets/images/chihiro\ town.jpeg');
    background-size: cover;
    background-position-y: 20%;

    
    color:white;
}

h2 {
    /* text-align: center; */
    /* align-self: flex-end; */
    /* height:50%; */
    font-size: 30px;
    margin-top: 30px;
    /* align-self: flex-end; */
    margin-left: 3.5%;
    margin-bottom: 0;
    
}

#datetime {
/* align-self: center; */
    font-size: 40px;
    margin-left: 3.5%;
    /* align-self: flex-end; */
}